// ------------------------------
//  Responsive Variables
// ------------------------------

$viewport-xs: 480px;
$viewport-sm: 640px;
$viewport-md: 800px;
$viewport-lg: 960px;
$viewport-xl: 1200px;

// ------------------------------




// ------------------------------
//  Import Sass Partials
// ------------------------------

@import 'core/style/variables';       // Bootstrap Variables

@import 'core/style/utilities';       // Custom Utilities

html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar-brand {
  >.logo {
    height: 72px;
    width: auto;
  }
}
header {
  .navbar {
    margin-bottom: 0;
  }
  .breadcrumb {
    margin-bottom: 0;
    margin-top: 0;
  }
}
main {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

//@import 'core/style/typography';
//@import 'core/style/animations';
//@import 'core/style/structure';
//@import 'core/style/layout';








// ------------------------------
//  Import Bootstrap Partials
// ------------------------------


// Core variables and mixins
// ------------------------------

@import 'bower_components/bootstrap/scss/mixins';


// Reset and dependencies
// ------------------------------

@import 'bower_components/bootstrap/scss/normalize';
@import 'bower_components/bootstrap/scss/print';


// Core CSS
// ------------------------------

@import 'bower_components/bootstrap/scss/reboot';
@import 'bower_components/bootstrap/scss/type';
@import 'bower_components/bootstrap/scss/images';
@import 'bower_components/bootstrap/scss/code';
@import 'bower_components/bootstrap/scss/grid';
@import 'bower_components/bootstrap/scss/tables';
@import 'bower_components/bootstrap/scss/forms';
@import 'bower_components/bootstrap/scss/buttons';


// Components
// ------------------------------

@import 'bower_components/bootstrap/scss/animation';
@import 'bower_components/bootstrap/scss/dropdown';
@import 'bower_components/bootstrap/scss/button-group';
@import 'bower_components/bootstrap/scss/input-group';
@import 'bower_components/bootstrap/scss/custom-forms';
@import 'bower_components/bootstrap/scss/nav';
@import 'bower_components/bootstrap/scss/navbar';
@import 'bower_components/bootstrap/scss/card';
@import 'bower_components/bootstrap/scss/breadcrumb';
@import 'bower_components/bootstrap/scss/pagination';
@import 'bower_components/bootstrap/scss/pager';
@import 'bower_components/bootstrap/scss/labels';
@import 'bower_components/bootstrap/scss/jumbotron';
@import 'bower_components/bootstrap/scss/alert';
@import 'bower_components/bootstrap/scss/progress';
@import 'bower_components/bootstrap/scss/media';
@import 'bower_components/bootstrap/scss/list-group';
@import 'bower_components/bootstrap/scss/responsive-embed';
@import 'bower_components/bootstrap/scss/close';


// Components w/ JavaScript
// ------------------------------

@import 'bower_components/bootstrap/scss/modal';
@import 'bower_components/bootstrap/scss/tooltip';
@import 'bower_components/bootstrap/scss/popover';
@import 'bower_components/bootstrap/scss/carousel';


// Utility classes
// ------------------------------

@import 'bower_components/bootstrap/scss/utilities';
@import 'bower_components/bootstrap/scss/utilities-spacing';
@import 'bower_components/bootstrap/scss/utilities-responsive';








// ------------------------------
//  Gulp Inject Stylesheets
// ------------------------------

// bower:scss
// endbower

// injector
// endinjector



/**
 * ------------------------------
 *  Variables
 * ------------------------------
 */









// ------------------------------
//  Base Variables
// ------------------------------




$font-family:     'Source Sans Pro', Helvetica, Verdana, sans-serif;
$font-size-base:  14px;
$font-color-base: rgba(0, 0, 0, 0.87);




// ------------------------------







